<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Backbonejs CRUD - Tweets</title>
		<meta name="description" content="A backbone.js example of CRUD" />
		<meta name="author" content="jall" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<!--[if lt IE 9]>
  			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  		<![endif]-->
	</head>

	<body>
		<div>
			<header>
				<h1>Tweets</h1>
			</header>
			<nav></nav>

			<div style="width:30%; float:left;">
				<p>
						Tweet: 
						<br />
						<textarea name="tweet" id="textbox" rows="3" style="width:350px"></textarea>
					</p>
					<p style="width: 350px; text-align:right">
						
						<span id="char_count" style="width:40px; padding:20px; font-size:small;color:#888">&nbsp;</span>
						<button type='button' class="tweet" value="0">Tweet</button><br />
						<span id="sobrante" style="color:#f00"></span>
					</p>
					
			</div>
			<div style="width:69%; float:left">
				<ol>
					
				</ol>
			</div>

			<footer style="clear:left">
				<p>
					Free repository on <a href="https://github.com/jallander/backbonejs_crud">Github</a><br />
					&copy; Copyright  by <a href="http://jallander.wordpress.com">JALL</a></p>
					<p>
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="jall_ander" data-lang="gl">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br />
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone></g:plusone>
				</p>
			</footer>
			<script data-main="app/main" src="app/vendor/require.js"></script>
			<script type="text/template" id="item-template">
			<% _.each(tweets, function(item) { %> 
						<li style="padding-bottom: 20px">
							(<%= item.fecha %>)<hr /><strong><%= item.contenido %></strong><hr />
							 <button type='button' class="edit" value="<%- item.id %>">Edit</button>
							<button type='button' class="delete" value="<%- item.id %>">Delete</button>
						</li> 
			<% }); %>'
			
			</script>
			
		</div>
	</body>
</html>
